<h1>That's the Cat's Pajamas!</h1>

<div class="booyah-box col-10 offset-1">
  <h1><%= @cat.name %></h1><br />
  <br/><br/>
  <p><%= @cat.description %></p>
  <div class="float-right">
    <% if current_user && current_user == @cat.user %>
      <%= link_to 'Edit', edit_cat_path(@cat), class: 'btn btn-primary' %>
    <% end %>
      <%= link_to 'Destroy', cat_path(@cat), method: :delete, data: {confirm: 'You do not want this kitty anymore? :('}, class: 'btn btn-danger' %>
  </div>
</div>